.main-chat
  .main-chat__header
    .main-chat__header__box
      .main-chat__header__box__team-name
        = @group.name
      .main-chat__header__box__member
        - @group.users.each do |u|
          = u.name
    .main-chat__header__right
      .main-chat__header__right__edit
        = link_to edit_group_path(@group.id) do
          Edit
  .main-chat__message-list
    .main-chat__message-list__box
      = render @messages
  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .main-chat__message-form__message
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'input-box_image' do
            = icon('fas', 'image', class: 'image')
            = f.file_field :image, class: 'input-box_image_file'
      = f.submit 'Send', class: 'submit-btn'